---
whiskers:
  version: "^2.5.1"
  matrix:
    - flavor
    - accent
  hex_format: "\"#{{R}}{{G}}{{B}}{{Z}}\""
  filename: "./themes/catppuccin-{{flavor.identifier}}-{{accent}}/Components/PasswordField.qml"
---
import QtQuick 2.15
import QtQuick.Controls 2.15
import ".." as Theme

TextField {
  id: passwordField
  focus: true
  selectByMouse: true
  placeholderText: "Password"
  echoMode: TextInput.Password
  passwordCharacter: "•"
  passwordMaskDelay: config.PasswordShowLastLetter
  selectionColor: Theme.Colors.selectionColor
  renderType: Text.NativeRendering
  font {
    family: config.Font
    pointSize: config.FontSize
    bold: true
  }
  color: Theme.Colors.textPrimary
  horizontalAlignment: TextInput.AlignHCenter
  background: Rectangle {
    id: passFieldBackground
    radius: 3
    color: Theme.Colors.surfaceBase
  }
  states: [
    State {
      name: "focused"
      when: passwordField.activeFocus
      PropertyChanges {
        target: passFieldBackground
        color: Theme.Colors.surfaceHover
      }
    },
    State {
      name: "hovered"
      when: passwordField.hovered
      PropertyChanges {
        target: passFieldBackground
        color: Theme.Colors.surfaceHover
      }
    }
  ]
  transitions: Transition {
    PropertyAnimation {
      properties: "color"
      duration: 300
    }
  }
}
