[SddmGreeterTheme]
Name=Catppuccin Old
Description=The hottest theme for SDDM
Type=sddm-theme
Version=1.0
Website=https://github.com/DonutDev/sddm
Screenshot=ultimate.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=Catppuccin
Theme-API=2.0
